// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-wrap {
  background: {
    color: $light-grey;
  }
  display: flex;
  min-height: 100vh;

  @media only screen and (max-width: map-get($map: $breakpoints, $key: 'medium')) {
    display: block;
  }
}
