section {
  &.interests {
    background: {
      image: url(/src/client/assets/img/interests-bg-min.jpg);
      position: center left;
      size: cover;
      repeat: no-repeat;
    }
    color: #6e5e8f;

    .home-cta {
      background: {
        color: #6e5e8f;
      }
      color: #2da170;
    }

    .interest-wrap {
      margin: -50px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .interest-thumb {
      display: block;
      background: {
        size: cover;
        position: center;
      }
      width: 25%;
      position: relative;
      overflow: hidden;
    }

    .interest-meta {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
    }

    .col-50 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 700px;
    }
  }
}
